@media(max-width: 1000px){
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 120px;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
    scroll-behavior: auto;
  }
  
  .sidebar-link{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 45px;
    margin-bottom: 1px;
    margin-left: 10px;
    transition: 0.15s;
  }
  
  .sidebar-link:hover{
    background-color: rgb(235, 235, 235);
  }
  
  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
    padding-right: 5px;
  }
  
  .sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
  }
}

@media(min-width: 1001px) and (max-width: 1500px){
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    margin-bottom: 1px;
    transition: 0.15s;
  }
  
  .sidebar-link:hover{
    background-color: rgb(235, 235, 235);
  }
  
  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
  }
  
  .sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
  }
}


